*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background-image: linear-gradient(45deg, #9689F5, #FFA79F, #E6DAA8, #ACFCC6, #AEB5F2);
    font: normal 16px arial;
    color: rgb(0, 0, 0);
}

body #inicio{
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    width: 30%;
    margin: auto;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.075);
    margin-top: 10%;
}
body #inicio #title{
    font-size: 30px;
    background-color: #AEB5F2;
    margin: 0;
    padding: 4%;
    border-radius: 6px 6px 0 0;
    text-align: center;
    color: white;
}
body #inicio #corpo{
    margin-top: 3%;
    padding: 3%;
    margin: 4%;
    
}
input[type=number]{
    width: 100px;
    border-radius: 15px;
    border: 1px solid white;
    padding: 3px;
    outline: none;
}
body #inicio #buttonCalcular{
    background-color:#aeb5f286;
    border-radius: 6px;
    border: none;
    padding: 5px;
    margin-top: 25px;
    width: 80px;
    transition: .4s;
    cursor: pointer;
    outline: none;
    
}
input[type=button]:hover{
    background-color:transparent;
    color: #05149e;
}
body #res{
    margin-top: 2%;
    padding: 3%;
    border-radius: 10px;
}
p{
    margin-top: 8%;
}
footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 1024px){
    body #inicio{
        width: 40%;
    }
    body #inicio #title{
        font-size: 25px;
    }
    body #inicio #corpo{
        margin: 5%;
        margin-top: 3%;
        padding: 3%;
        
    }
    input[type=number]{
        width: 23%
    }
    input[type=button]{
        border-radius: 6px;
        padding: 1.5%;
        width: 28%;
        margin-top: 4%;
    }
    p{
        margin-top: 8%;
    }
    footer{
        color: rgb(0, 0, 0);
        text-align: center;
        font-style: italic;
        
    
    }
}
@media (max-width: 650px){ 
    body #inicio{
        width: 50%;
    }
    body #inicio #title{
        font-size: 23px;
    }
    input[type=number]{
        width: 23%
    }
    input[type=button]{
        border-radius: 6px;
        padding: 1.5%;
        width: 28%;
        margin-top: 4%;
    }
    p{
        margin-top: 5%;
    }
    footer{
        color: rgb(0, 0, 0);
        text-align: center;
        font-style: italic;
        margin-top: 3%;
    
    }
}